<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Travel Planner</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="main-container">

      <div class="header">
        <h1>TRAVEL PLANNER</h1>
      </div>

      <div class="input-container">
        <div class="location-container">
          <label for="location">I'm going to:</label>
          <input type="text" id="location" placeholder="Location">
        </div>

        <div class ="date-container">
          <label for="date">Departing:</label>
          <input type="date" id="date" placeholder="Date">
        </div>

        <div class ="submit">
          <button id="generate" type="submit">Submit</button>
        </div>
      </div>

      <div class ="result-container">
          <div >
            <img id="img-Country" alt="" src=" ">
          </div>
          <div id="resut-country"></div>
          <div id="resut-currency"></div>
          <div id="resut-lenguage"></div>
          <div id="resut-temp"></div>
      </div>

    </div>
  </body>
</html>
